*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* About Section */
.about{
    display: flex;
}
.about .img img{
    width: 500px;
    height: 400px;
    margin:  5rem 0 0 3rem ;
}
.about .about-content p{
    text-align: center;
    padding: 12rem 0 0 0 ;
    font-size: 20px;
}

/* Our Team */

.team h3{
    text-align: center;
    padding-top: 30px;
}
.team .box img{
    width: 400px;
    height: 150px;
    background-color: aqua;
}
.team .card{
    display: flex;
}
.team .sds {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
/* Gallery */
.gallery h1{
    text-align: center;
}
.gallery img{
    width: 400px;
    height: 150px;
    padding: 20px 0 0 100px;
}

/* Contact Us Section */
.contact-us{
    display: flex;
}
.contact-us h1{
    text-align: center;
}
.contact-us .f-form{
    padding-left: 15rem;
    padding-right: 10rem;
}
.contact-us .f-form input{
    width: 25rem;
    padding: 10px 0 0 0 ;
    margin-top: 1rem;

}
.form-btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 41rem ;

}

/* footer */
footer {
    margin: 0 0 3rem 27rem ;
    font-size: large;
    word-spacing: 100px;
}